.profile-form {
    margin-top: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10rem;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
    max-width: 38%;
    box-sizing: border-box;
    padding: $m-size;
    text-align: center;

    @include respond(tab-port) {
        max-width: 48%;
    }
    @include respond(phone) {
        max-width: 98%;
    }
}

.form-input {
    font-size: $m-size;
    margin-bottom: $l-size;
    width: 100%;
    border: none;
    padding: $m-size;
    border-bottom: 3px solid $color-black;
    display: block;
    box-sizing: border-box;


    &:focus {
        border: none;
        border-bottom: 3px solid $color-blue;
    }
}

.form-submit {
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    color: $color-white;
    border-radius: $m-radius;
    padding: 1rem 3rem;
    background-color: $color-green;
}

.profile-image {
    border-radius: 100%;
    margin-bottom: 5rem;
    animation: fadeout .5s;

    &:hover {
        opacity: 0.6;
        animation: fadein .5s
    }
    
}

@keyframes fadein {
    0%{ opacity: 1}
    100%{opacity:0.6}
}

@keyframes fadeout {
    0% {opacity: 0.6}
    100%{opacity: 1}
}

