$icon-width: 20rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;

$s-radius: .1rem;
$m-radius: .4rem;




$color-gray: #888;
$color-border-gray: #e8e8e8;
$color-light-gray: #efeff4;
$color-black: black;
$color-white: white;
$primary-color: #c51d23;
$color-green: #5cb85c;
$color-blue: #0275d8;
$color-light-yellow: #fff7ec;
$color-error: #c51d23;